@font-face {
    font-display: swap;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/FuturaCyrillicBook.woff2") format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/FuturaCyrillicMedium.woff2") format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/FuturaCyrillic-Bold.woff2") format("woff2");
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 65px;
}

body {
    background-image: url("./images/bgimg.png");
    font-family: "Future PT";
    background-color: #F9F8F8;
    overflow-x:hidden;
    font-family: "Futura PT", "Arial", sans-serif;
    font-weight: 500;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    /* font-size: 16px;
    font-weight: 500;
    line-height: 20.51px;
    text-align: right;
    color:#333 */
    
}

ol,
ul {
    list-style: none;
}

.button {
    background-color: #333333;
    padding: 15px 48px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.button:hover{
    background-color: #FFBD54;
    color:#333;
    border:none;

}
.button:active{
    background-color: #FFBD54;
    color:#333;
    border:none;
    opacity: 60%;

}
.address{
    font-style: normal;
    color: #333333;
    font-weight: 500;
    line-height: 17.95px;
}
.address::before {
    background-image: url("./images/address_img.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    margin-right: 9px;
}
.text{
   
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #949494;

    
}


/* header section styes */

.header-topbox {

    background-color: #F9F8F8;
    background-image: none;

}

.header__top {
    width: 100%;
    display: flex;
    gap: 98px;
    padding: 11px 0px 9px 190px;
}


.header__address::before {
    width: 14px;
    height: 13px;
}

.header__address {
    font-size: 14px;
    line-height: 17.95px;
    margin-right: 8px;
}

.header__top__contacts {
    display: flex;
    gap: 9px;
}

.header__top__contact-item {
    display: flex;
    align-items: center;
}

.header__top__contact-item::before {
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 9px;
    content: "";
}

.header__top__contact-item:nth-child(1)::before {

    background-image: url("./images/tel_img.svg");
    width: 14px;
    height: 13px;
}

.header__top__contact-item:nth-child(2)::before {
    background-image: url("./images/ellipse.svg");
    width: 4px;
    height: 4px;
}

.header__top__contact-item:nth-child(3)::before {
    background-image: url("./images/ellipse.svg");
    width: 4px;
    height: 4px;
}

.contact__list__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.95px;
    color: #333333;

}
.header__top__contact-item:hover > .contact__list__link{
    color: #FFBD54;
}
.header__top__contact-item:active > .contact__list__link{
    opacity:60%;
}

.header__top__hours {
    display: flex;
    gap: 17px;

}

.header__top__time-item {
    display: flex;
    align-items: center;
}

.header__top__time-item:nth-child(1)::before {
    background-image: url("./images/calendar.svg");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 7px;
    width: 14px;
    height: 14px;
    content: "";
}

.time__list__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.95px;
    color: #333333;
}



.header-bottombox {
    background-color: white;
}

.header__bottom {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0;
   
}

.header__logo__link {
    position: absolute;
    top: -18px;
}

.header__logo:hover{
    opacity:80%;
}
.header__logo:active{
    opacity:60%;
}

.header__bottom__navlist {
    width: 725px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 163px;
    margin-left: 293px;
}

.navlist__item__link,
.header__bottom__ask__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.51px;
    color: #333333;
}

.navlist__item {
    display: flex;
    align-items: center;
}
.navlist__item:active > .navlist__item__link{
    opacity:60%;

}

.navlist__item::before {
    opacity: 0;
    display: inline-block;
    background-image: url("./images/active.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20.85px;
    height: 20.85px;
    content: "";
    margin-right: 12.14px;

}

.navlist__item:hover::before {
    opacity: 1;
}


.header__bottom__ask {
    width:129.32px;
    display: flex;
    align-items: center;
}

.header__bottom__ask__link::before {
    display: inline-block;
    background-image: url("./images/petimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 23px;
    height: 21px;
    content: "";
    margin-right: 4px;
}



/* Main section styles */

.main-section {
    background-size: 870px 834px, 350px 430px;
    background-image: url("./images/vet_clinic_resized.png"), url("./images/birdd_resized.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 504px) calc(50% - 215px), calc(50% + 608px) calc(50% + 65px);
}

.main__box {
    padding: 145px 32px 290px 670px;
    display: flex;
    justify-content: flex-end;
}

.main-info {
    width: 608px;
}

.main__info__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 64px;
    color: #333333;
    margin-bottom: 29px;
}

span {
    color: rgb(120, 192, 222)
}

.main__info__text {
    width: 440px;
    margin-bottom: 38px;
}

.main__info__services-button {
    width: 181px;
    margin-bottom: 93px;

}
/* Aside section styles */
.asides{
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.line {
    width: 140px;
    height: 1px;
    background-color: #DBDBDB;
    margin: 0 auto;
}

.quotation-box {
    width:963px;
    display: flex;
    padding: 43px 55px;
    position: relative;
    justify-content: center;
    margin: 0 auto;
}

.quotation-text {
    width: 753px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.64px;
    text-align: center;
    color: #949494;
}

.quotation-box::before {
    position: absolute;
    top: 12px;
    left: 0;
    display: inline-block;
    background-image: url("./images/quoteee.svg");
    background-repeat: no-repeat;
    background-size: 50px 40px;
    width: 50px;
    height: 40px;
    content: "";


}

.quotation-box::after {
    position: absolute;
    bottom: 10px;
    right: 0;
    display: inline-block;
    background-image: url("./images/quotee.svg");
    background-repeat: no-repeat;
    background-size: 50px 40px;
    width: 50px;
    height: 40px;
    content: "";

}

cite {
    display: block;
    width: 100%;
    text-align: center;
    margin: 35px auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.64px;
    font-style: normal;

}


/* service section styles */
.services-section {
    padding: 127px 0;
}

.services__title {
    margin: 56px auto 80px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    color: #333333;

}

.services__list {
    display: flex;
    gap: 13px;
    justify-content: center;
}

.services__list__item {
    width: 193px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 32px 32px;
   
}
.services__list__item:hover{
    opacity: 80%;
}
.services__list__item:active{
    opacity: 60%;
}
.services__list__item__title {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 21px;

}





.fist-check {
    width: 1223px;
    background-color: white;
    display: flex;
    align-items:center;
    gap:67px;
    margin:14px auto;
    padding: 42px 105px 43px 35px ;
}
.first__chek__image{
    border-radius: 5px;
}
.check__info__title{
    font-size: 36px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-bottom:18px;
  
}
.--textone{
    margin-bottom:9px;
}
.--texttwo{
    margin-bottom: 34px;
}

.check__info__buttons{
    display: flex;
    gap:21px;
}
.button__price{
    background-color:  #FFBD54;
    border-radius: 3px;
    padding:15px 35px;
    border: none;
    color:white;
    display: flex;
    align-items: center;
}
.button__price::before{
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 7px;
    content: "";
    background-image: url("./images/money.svg");
    width: 21px;
    height: 21px;
}
.button__price:hover{
    background-color: #333333;
    color: #FFBD54;
}
.button__price:active{
    background-color: #333333;
    color: #FFBD54;
    opacity:60%;
}
.registration{
    background-color: #333333;
    border-radius: 3px;
   padding:15px 37px;
   border: none;
   color:white;
   display: flex;
   align-items: center;

}
.registration::before{
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 6px;
    content: "";
    background-image: url("./images/registration-icon.svg");
    width: 21px;
    height: 21px;
  
}


/*Signup section styles */


.signup-section {
    background-image: url("./images/dogblue.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    position: relative; 
    padding:80px 0 0 0 ;
  }
  
  .signup__input__email {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
  }
  
  .signup__input__email:focus {
    border-color: orange;
    border-width: 2px;
    color:#333;
  }
  
  
  .signup-content {
    padding: 127px 538px 153px 216px;
    color: #333;
  }
  
  .signup__title {
    color: #FFFFFF;
    width: 494px;
    height: 48px;
    font-size: 48px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 32px;
  
  }
  
  .signup__form {
    display: flex; 
    gap:21px;
    align-items: center;
  }
  
  .signup__input__email {
    border-radius: 5px;
    border-color: #fff;
    background-color: #fff;
    color:  #949494;
    width: 335px;
    height: 50px;
  }
  
  .signup__button {
    width: 188px;
    height: 50px;
    border-radius: 3px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
  }
  
  .signup-button:hover {
    background-color: #555;
  }
  
  #message {
    margin-top: 10px;
    color: #333;
    display: none;
  }


/* Animals list */


.animals__title{
   
    font-size: 48px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 151px;
 
}

.animals__list{
    display: flex;
    gap:24px; 
    margin-bottom: 109px;
}


.animals__list__item{
    border: 1px solid #E4E4E2;
    border-radius: 5px;
}
.animals__list__item:hover{
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.animals__list__item:hover .animalslist__itemlink{
    color: #FFBD54;

}


.animals__list__item2{
    display: flex;
}
.animalslist__iteminfo{
    padding:41px 31px 35px 31px;
    background-color: white;
}
.animalslist__itemtitle{
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    margin-bottom:10px;
}
.animalslist__itemtext{
    margin-bottom: 34px;
}
.linklist{
    display: flex;
    gap:8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  
    margin-bottom: 32px;
}
.linklist__itemlink{
    color: #3D9CEA;
}
.animalslist__itemlink{
  
    font-size: 16px;
    font-weight: 500;
    line-height: 20.51px;
   
   color:#333;    
}

/* Map contact section */

.map__section{
    display: flex;
    padding: 109px 0 247px 0;
   
}
.map__wrapper{
    display: flex;
    margin:0 auto;
  }
  .map__background{
    background-color: #333;
    background-image: url("./images/feedback-bg.svg");
    width: 987.86px;
    height: 652px;
    background-size: contain;
    background-repeat: no-repeat;

  }
 
  

  .map__section iframe {
    border: none;
  }  
  .map__contact {

    padding: 55px 376px 74px 100px;
  
  }
  
  .map__contact__form input,
  .map__contact__form textarea {
    box-sizing: border-box;
    border: none;
    margin-bottom: 14px;
    background-color: #fff;
    color: #333;
    display: flex;
    height: 50px;
    flex-direction: column;
    outline: none;
    width: 375px;
    padding: 13px 22px;
    resize: none;
  }
  
  .map__contact__form input::placeholder {
    color: #949494;
  }
  
  .map__contact__form textarea {
    width: 375px;
    height: 165px;
  }
  
  .map__contact__title {
    text-align: center;
    margin-bottom: 14px;
    font-size: 48px;
    font-weight: 700;
    line-height: 61.54px;
    width: 360px;
    color: #fff;
  }
  
  .map__contact__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 354px;
    color: #949494;
    display: flex;
    margin-bottom: 29px;
  }
  
  
  .map__contact__button{
    width: 226px;
    margin-top: 16px;
    height: 50px;
    background-color: #FFBD54;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  


/* Footer section styles */
.footer{
    background-color: #F3F3F3;

}
.footer__list{
    display: flex;
   justify-content: space-between;
    padding:61px 0 69px 0;
}

.footer__logo__img{
    margin-top:-7px;
}

.footernav{
    display: flex;
    flex-direction: column;
    gap:14px;
   
}
.footernav__item:hover > a{
    color:#FFBD54;

}

.footernav__item:active > a{
    opacity: 70%;

}
.footer__navone{
    margin-right: 20px;
}
.footer__navtwo{
    margin-right: 40px;
}
.footerlist__timeitem{
    margin-right:45px;
}
.footer__time__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer__timelist__item:nth-child(1):before {
    background-image: url("./images/calendar.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: "";
}
.footer__timelist__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.95px;
    color: #333333;
}

.foooterlist__addressitem {
    width: 157px;
    margin-right:20.16px;
   
}

.footer__address {
    font-size: 16px;
    line-height: 20.51px;
    font-size:16px;
    
}

.footer__address::before {
    width: 16.84px;
    height: 16px;
}


.footer__contact__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footercontact__listitem {
    display: flex;
    align-items: center;
}
.footercontact__listitem:nth-child(1)::before {
    background-image: url("./images/tel_img.svg");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 9px;
    content: "";
    width: 14px;
    height: 13px;
}
.footercontact__listlink {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.95px;
    color: #333333;

}
